html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    transition: 0.3s;
}


/*CheckBox para deixar o site no tema escuro ou claro.*/
.ColorSiteDark {
    background: #212529;
    color: white;
}

.ColorSiteLight {
    background: white;
    color: black;
}

.toggle-switch {
    position: relative;
    width: 100px;
    height: 50px;
    --light: #D8DBE0;
    --dark: #28292C;
    --link: rgb(27, 129, 112);
    --link-hover: rgb(24, 94, 82);
}

.switch-label {
    position: absolute;
    width: 70px;
    height: 30px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider {
    background-color: var(--light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 6px;
    left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    -webkit-box-shadow: inset 5px -3px 0px 0px var(--light);
    box-shadow: inset 3px -4px 0px 0px var(--light);
    background-color: var(--dark);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(32px);
    background-color: var(--dark);
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*-------------------------------------------------------------*/
