@{
    ViewData["Title"] = "Confirmação de Exclusão";
}
<div class="container">
    <div class="text-center">
        <h3>Realmente Deseja apagar o contato (teste)?</h3>
    </div>
    <br><br><br><br>
    <div class="row justify-content-md-center">
        <div class="col col-lg-2">
            <a class="btn btn-outline-secondary" role="button" asp-asp-controller="Contato" asp-action="Index">Cancelar</a>
        </div>
        <div class="col col-lg-2">
            <a class="btn btn-outline-danger" role="button" asp-asp-controller="Contato" asp-action="Delet">Excluir </a>
        </div>
    </div>
</div>