@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start text-light">
        <a class="btn btn-outline-secondary text-light" role="button" asp-controller="Contato" asp-action="Add">Adicionar Contato</a>
    </div>

    <br><br>

    <h1 class="display-4">Listagem de Contatos</h1>
    <br><br><br><br>
    <table class="table table-hover table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Número</th>
                <th scope="col"><span class="material-symbols-outlined">edit  </span></th>
                <th scope="col"><span class="material-symbols-outlined">delete</span></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Mark</td>
                <td>Otto@gmail.com</td>
                <td>(11) 99954 7603</td>
                <td><a role="button" class="btn btn-outline-secondary text-light" asp-controller="Contato" asp-action="Edit">Editar</a></td>

                <td><a role="button" class="btn btn-outline-danger" asp-controller="Contato" asp-action="DeletConfirm">Remover</a></td>
            </tr>
            <tr>
                <td>Jacob</td>
                <td>Thornton@gmail.com</td>
                <td>(45) 99964 0903</td>
                <td><a role="button" class="btn btn-outline-secondary text-light" asp-controller="Contato" asp-action="Edit">Editar</a></td>
                <td><a role="button" class="btn btn-outline-danger" asp-controller="Contato" asp-action="DeletConfirm">Remover</a></td>
            </tr>
            <tr>
                <td>Larry</td>
                <td>theBird@gmail.com</td>
                <td>(21) 99904 2003</td>
                <td><a role="button" class="btn btn-outline-secondary text-light" asp-controller="Contato" asp-action="Edit">Editar</a></td>
                <td><a role="button" class="btn btn-outline-danger" asp-controller="Contato" asp-action="DeletConfirm">Remover</a></td>
            </tr>
        </tbody>
    </table>
</div>


